
<ion-view hide-tabs="true" class="signature-password ">
  
      <ion-nav-buttons side="right">
          <button class="button-clear zw-mine-finish-btn-style" ng-click=""> 完成 </button>
      </ion-nav-buttons>
  

      <div style="background-color: #f7f7f7;width: 100%;height: 100%;padding-top: 80px">
          <div style="text-align: center;margin-top: 30px;color: #69717d">请输入登录密码</div>
        <!---->
          <!--<div style="width: 100%;margin: 20px auto;text-align: center;box-sizing: border-box;">-->
              <!--<input type="password" class="" placeholder="请输入密码" style="width: 260px;vertical-align:middle; margin:auto;margin-top: 20px">-->
          <!--</div>-->
  
  
        <div class="password-input-list">
          <!--第一位密码-->
          <input type="password" id="onePassword" ng-model="onePasswordModel"
                 onkeyup="this.value=this.value.replace(/\D/g,'')"
                 onafterpaste="this.value=this.value.replace(/\D/g,'')"
                 maxlength="1" class="password-input">
    
          <!--第二位密码-->
          <input type="password" id="twoPassword" ng-model="twoPasswordModel"
                 onkeyup="this.value=this.value.replace(/\D/g,'')"
                 onafterpaste="this.value=this.value.replace(/\D/g,'')"
                 maxlength="1" class="password-input">
    
          <!--第三位密码-->
          <input type="password" id="threePassword" ng-model="threePasswordModel"
                 onkeyup="this.value=this.value.replace(/\D/g,'')"
                 onafterpaste="this.value=this.value.replace(/\D/g,'')"
                 maxlength="1" class="password-input">
    
          <!--第四位密码-->
          <input type="password" id="fourPassword" ng-model="fourPasswordModel"
                 onkeyup="this.value=this.value.replace(/\D/g,'')"
                 onafterpaste="this.value=this.value.replace(/\D/g,'')"
                 maxlength="1" class="password-input">
    
          <!--第五位密码-->
          <input type="password" id="fivePassword" ng-model="fivePasswordModel"
                 onkeyup="this.value=this.value.replace(/\D/g,'')"
                 onafterpaste="this.value=this.value.replace(/\D/g,'')"
                 maxlength="1" class="password-input">
    
          <!--第六位密码-->
          <input type="password" id="sixPassword" ng-model="sixPasswordModel"
                 onkeyup="this.value=this.value.replace(/\D/g,'')"
                 onafterpaste="this.value=this.value.replace(/\D/g,'')"
                 maxlength="1" class="password-input">
        </div>
        <div style="font-size: 12px;text-align: center;margin-top: 15px;color: #a1a1a1" >验证密码和登录密码相同，为6位数字密码</div>
  
      </div>

  
</ion-view>
